<ifModule mod_rewrite.c>
# Bloc l'accès au répertoire du site
Options -Indexes
# On suit les liens symboliques
Options +FollowSymlinks
# Activation du mod rewrite d'Apache
RewriteEngine On
ErrorDocument 403 /views/403.php
ErrorDocument 404 /views/404.php
ErrorDocument 500 /views/500.php
# Réécriture de l'url
RewriteRule Accueil index.php [L] 
RewriteRule Inscription views/registerView.php [L] 
RewriteRule Connexion views/loginView.php [L] 
RewriteRule Déconnexion views/logoutView.php [L] 
RewriteRule Mot-de-passe-oublié-? views/forgottenPasswordView.php [L] 
RewriteRule webTV views/webtv.php [L] 
RewriteRule Catégorie-du-forum views/forumCategoriesView.php [L] 
RewriteRule Mon-profil views/profileView.php [L] 
RewriteRule Modification-de-mon-profil views/profileUpdateView.php [L] 
RewriteRule Supprimer-mon-profil views/profileDeleteView.php [L] 
RewriteRule Contact views/contactView.php [L] 
RewriteRule Déconnexion views/logoutView.php [L] 
RewriteRule Qui_sommes-nous? views/whoAreYouView.php [L] 
RewriteRule Glossaire views/glossaryView.php [L] 
RewriteRule Plan_du_site views/siteMapView.php [L] 
RewriteRule Rédaction_d'article views/newsWritingView.php [L] 
RewriteRule Modification_d'article views/newsUpdateView.php [L] 
RewriteRule Actualités views/newsView.php?id=$1 [L] 
RewriteRule Liste_des_membres views/listOfMembersView.php [L] 

RewriteRule Sous-catégorie-du-forum views/forumSubCategoriesView.php [L] 
RewriteRule Topics-du-forum views/forumTopicsView.php [L] 
RewriteRule Réponses-du-forum views/forumPostsView.php [L] 
RewriteRule Validation-du-compte views/validationView.php [L] 
RewriteRule Toutes-les-actualités views/newsAllView.php [L] 

RewriteRule Toutes-les-actualtés/id=([0-9]+) views/newsAllView.php?id=$1 [L] 
RewriteRule Actualités views/newsView.php [L] 
RewriteRule Actualités/id=([0-9]+) views/newsView.php?id=$1 [L] 


</ifModule>
