body {
    font-family: 'Jura', sans-serif;
    display: table;
    width: 100%;
}
/* ------------------------------- MENU --------------------------------- */
.navbar-default .navbar-brand, .navbar-default > .navbar-brand ,.navbar-default .navbar-nav > li > a{
    color: orange;
    font-weight: bold;
}
.navbar-default > .navbar-brand, .navbar-default > .navbar-brand:hover{
    color: orange;
    font-weight: bold;
}
.navbar-default .navbar-nav  li  a:hover {
    background-color: white;
    font-weight: bold;
    color: orange;
}
.navbar {
    background-color: #54276F;
    border: 0;
    font-size: 11px ;
    letter-spacing: 4px;
    opacity: 0.9;
}
.dropdown-menu li a:hover {
    background-color: orange ;
    color: white;
}
.avatarNav{
    height: 50px;
    width: 50px;
}
/*---------------------------------FOOTER----------------------------------------*/
footer {
    background-image: linear-gradient(to right, #5B2A78, #000000);
    display: table-row;
    height: 100px;
}
footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
    text-transform: uppercase;
}
footer ul {
    padding-left: 0;
}
footer a {
    color: orange;
    font-weight: bold;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0; padding: 0;
}
/*------------------------------ ACCUEIL -------------------------------*/
.homeBackground {
    background-image: url('../images/homeBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.blocHome{
    margin-top: 4%;
}
.blocPresent{
    background-color: purple;
    border-radius: 15px;
    box-shadow: 0 0 15px purple;
}
.titlePresentation {
    padding-top: 20px;
    padding-bottom: 20px;
}
.titlePresentation2{
    margin-top: 11%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.titleChat {
    padding-top: 20px;
    margin-bottom: 20px;
}
#panel1{
    display: none;
}
#panel2{
    display: none;
}
.receiveMessage {
    background-color: #331743;
    height: 350px;
    overflow: auto;
    font-size: 17px;
}
#ChatMessage{
    border: 5px solid black;
}
#sendMessage {
    margin-bottom: 40px;
    background-color: #222222;
    color: white;
    height: 45px;
}
/*-------------------------------ACTUALITÉS------------------------------*/
.pagination > li > a{
    background-color: black;
    color: white;
}
.pagination > li > a:hover {
    background-color: #286090;
    color: white;
}
.datePost {
    border-top: 1px solid black;
    padding-top: 10px;
}
.allComments {
    max-height: 1000px;
    overflow: scroll;
}
.centerImg {
    margin: auto;
}
.divUpdate {
    display: none;
}
.newAll{
    border: 5px solid #643C7D;
}
/* ----------------------------------- FORUM ----------------------------------- */
.divForum{
    display: none;
}
.uppercaseCategories{
    text-transform: uppercase;
}
/* ----------------------------- PROFIL ------------------------------------------------ */
.FirstdivProfileUpdate {
    margin-top: 10%;
}
.profileView {
    margin-top: 10%;
}
#btnModif {
    padding-top: 15px;
    padding-bottom: 15px;
}
.blocAddImg {
    max-width: 100%;
    border-radius: 10px 10px 0px 0px;
    border: 5px solid grey;
    background-image: linear-gradient(to right, #F5F5DC, #DEB887);
}
.btnWidth{
    width: 100%;
}
/* ------------------------------PAGE 404---------------------------------------------- */
.errorBloc {
    background-color: transparent;
}
.container404 {
    margin-top: 2%;
}

.errorTitle {
    font-size: 50px;
    font-weight: bold;
}
.errorH3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
    padding-bottom: 20px;
}
@media screen and (max-width: 622px) {
    .errorTitle {
        font-size: 25px;
    }
    .errorH3 {
        font-size: 20px;
    }
}
/* ---------------------------- IMAGE DE FOND --------------------*/
.registerBackground {
    background-image: url('../images/backRegister.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.loginBackground {
    background-image: url('../images/backLogin.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.contactBackground {
    background-image: url('../images/contactBackground.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.profileUpdateBody {
    background-image: url('../images/battlefield.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.newsWritingBackground {
    background-image: url('../images/newWritingBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.newsBackground {
    background-image: url('../images/contactBackground.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* ------------------------------------ CLASSE BASIQUE -----------------------------*/
.control-label {
    text-align: left;
}
.formBtn {
    color: white;
    background-color: black;
}
.formBtn:hover {
    color: white;
}
.bold {
    font-weight: bold;
}
.border{
    border: 5px solid black;
}
.margin{
    margin-top: 20px;
    margin-bottom: 20px;
}
.white {
    color: white;
}
.yellow {
    color: yellow;
}
.red {
    color: red;
}
.green {
    color: green;
}
.purple{
    font-weight: bold;
    color: purple;
}
/* ----------------------------- MISE EN FORME DES FORMULAIRES ----------------- */
.formBackground {
    background-color: #012545;
    margin-top: 5%;
    margin-bottom: 5%;
}
.formRegisterBackground {
    background-color: #012545;
    margin-top: 1%;
    margin-bottom: 1%;
}
.formContactBackground {
    background-color: #012545;
    margin-bottom: 1%;
}
@media screen and (max-width: 400px) {
    .formRegisterBackground {
        padding: 0px;
        margin: 0px;
    }
}
@media screen and (max-width: 300px) {
    .formContactBackground {
        margin-bottom: 22px;
        padding: 0px;
    }
}
.fieldBackground {
    background: #fff;
    padding: 15px;
}
.formTitle {
    text-align: center;
    background: #fff;
    padding: 15px;
    letter-spacing: 2px;
}
/*  ------------------------ CLASSE CONTAINER --------------------  */
.containerLogin{
    margin-top: 6%;
}
.containerContact {
    margin-top: 2%;
    padding-left: 0px;
    padding-right: 0px;
}
.containerNewsAll {
    margin-top: 3%;
}
.containerNews{
    margin-top: 3%;
    background-color: white;
}

.containerLogout {
    margin-top: 10%;
}
.containerProfileUpdate {
    margin-top: 1%;
}
.containerValidateCount{
    margin-top: 10%;
}
@media screen and (max-width: 350px) {
    .containerValidateCount {
        margin-top: 0%;
    }
}
/* -------------------------------- AVATAR ---------------------------------- */
.avatar {
    max-height: 300px;
    margin-top: 5%;
}
.avatarSizeProfile {
    max-width: 100%;
}
#avatar{
    display: none;
}
#picture{
    display: none;
}
@media screen and (max-width: 350px) {
    .avatar {
        max-height: 150px;
        max-width: 250px;
        margin-top: 5%;
    }
}












